body {  /* Cambiar color de fondo */
    background: #3bc510; 
    background: -webkit-linear-gradient(to right, #1F1C18, #d86659);  
    background: linear-gradient(to right, #1F1C18, #db5748); 
  }
  .navbar-brand {   /* cambiar la fuente de la letra UNA */
    font-family: 'Spicy Rice', cursive;
    font-size: 2.8rem !important; /* Cambiar tamaño */
  }
  .nav-link {
    text-transform: uppercase; /* Cambiar a mayúscula  */
    font-family: 'Spicy Rice', cursive; /* Cambiar fuente */
  }
  header img { /* definir ancho de la imagen */
    width: 20%;
  }
  *{
    font-family: 'Spicy Rice', cursive;
    font-size: 1rem !important;
  }
